@font-face {
	font-family:VarsityRegular;
	src:url(../fonts/varsity_regular.ttf)
}
body {
	background-color: #350000;
}
.header-image{
	margin: 0 0 0 0;
	padding: 0;
}
h1,h2,h3,h4 {
	font-family:VarsityRegular;
}
.header-logo {
	height:45px;
}
.top-bar {
    height: 45px;
}
nav.top-bar {
	text-align:center;
}
section.top-bar-section {
	display: inline-block;
	font-size: 15pt;
}
.top-bar-link a{
	color: #ffffff;
}
.top-bar-section ul li > a {
	font-family: VarsityRegular;
	font-size: 15pt;
	color: white;
}
.top-bar-name {
	color: #990000 !important;
}
.page-body{
	background-color:rgba(0,0,0,0.4);
	color: #eeeeee;
}