@font-face {
	font-family:VarsityRegular;
	src:url(../fonts/varsity_regular.ttf)
}
@font-face {
	font-family:Bree;
	src:url(../fonts/BreeSerif-Regular.otf);
}
@font-face {
	font-family:OpenSans;
	src:url(../fonts/OpenSans-Regular.ttf);
}
body {
	font-family: OpenSans;
}
.header-image {
	margin: 0 0 0 0;
	padding: 0;
}
h1,h2,h3,h4 {
	font-family:VarsityRegular;
	color: #ffffff;
}
h2, h3 {
	text-align: center;
	color: #fff;
}
h3 .whitney {
	text-align: left;
	color: #fff;
}
.header-logo {
	height:45px;
}
.header-image-static {
	background:#333333 url("../images/header2.jpg");
	position: float;
	color:#6a6969;
	background-size: 100%;
	height: 500px;
	background-repeat: no-repeat;
}
.header-logo-page {
	display: block;
	margin: auto;
	padding: 60px;
}
.top-bar {
	height: 50px;
}
nav.top-bar {
	text-align:center;
}
section.top-bar-section {
	display: inline-block;
	font-size: 15pt;
}
.top-bar-link a {
	color: #ffffff;
}
.top-bar-section ul li > a {
	font-family: VarsityRegular;
	font-size: 15pt;
	color: white;
}
.top-bar-name {
	color: #990000 !important;
}
.page-body {
	background-color:rgba(0,0,0,0.4);
	color: #eeeeee;
	margin: auto;
}
#text-imp {
	color: #3A9ECF;
}
.popup-text {
	font-size: 14px;
}
.extra-margin {
	margin-top: 30px !important; /* change the values to anything that you want */
	margin-bottom: 30px !important;
	padding-left: 30px;
	padding-right: 30px;
}
.res-img-left {
	float:left;
	width: 30%;
	height: 30%;
	margin: 30px;
}
.res-img-right {
	float:right;
	width: 30%;
	height: 30%;
	margin: 30px;
}
.com-img-right {
	float:right;
	width: 50%;
	height: 50%;
	margin: 30px;
}
.com-img-left {
	float:left;
	width: 50%;
	height: 30%;
	margin: 30px;
}
#execs-div {
	vertical-align: middle;
	margin: 20px;
}
.exec-img {
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:80%;
	width: 15%;
	height: 15%;
	margin: 20px;
}
.hidden {
	display:none;
}
label {
	color: #fff;
}
label small {
	color: #3A9ECF;
}
.error > label > small {
	color: #3A9ECF;
}
#processing-img {
	height: 5%;
	width: 5%;
	margin:auto;
}
#reg-ok {
	background: #00aa00;
	margin: 20px;
}
#reg-bad {
	background: #CC0000;
	margin: 20px;
}
.reveal-modal > p {
	text-align: center;
	color: #000;
}
.reveal-modal > h2 {
	color: #000;
}